// General
$satisfy: Satisfy;
$oswald: Oswald;
$separacion: 5rem;

// Colores 

$negro: #000000;
$blanco: #ffffff;
$cafe: #999999;
$grisOscuro: #1f1f1f;
$azulClaro: #00ADEF;
// Fuentes

$delgada: 400;
$media : 600;
$negrita: 700;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;